body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF5E7;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caprasimo', cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

/* SHARED BUTTON STYLES */
.btn-filled,
.btn-stroke {
  padding: 0.75rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* FILLED BUTTON */
.btn-filled {
  background-color: #493000;
  color: white;
  border: 2px solid #493000;
}
.btn-filled:hover {
  background-color: #0a0600;
  border-color: #0a0600;
}

/* STROKE BUTTON */
.btn-stroke {
  background-color: transparent;
  color: #493000;
  border: 3px solid #493000;
}
.btn-stroke:hover {
  background-color: #0a0600;
  color: white;
  border-color: #0a0600;
}
