.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 0em;
}

.home-container p {
  font-size: 20px;
  font-style: italic;
}

.home-buttons {
  display: flex;
  gap: 1.5rem;
}