.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 2rem;
}

.home-buttons {
  display: flex;
  gap: 1.5rem;
}